.edit-employee-container {
    display: flex;
    justify-content: center;
    margin-top: 5 rem;
    border: shadow;
}

.form-container {
    width: 50%;
    padding: 3rem;
    border: 1px solid hwb(0 0% 100%);
}

.input-field {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
}

.btn-primary {
    background-color: hwb(214 0% 12%);
    color: hsl(0, 73%, 29%);
    border: none;
}
